* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

p {
    display: block;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px #EDEDED solid;
}

#menu {
    width: 25px;
    height: 25px;
}

#header-title {
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 5px 0px;
}

#cos {
    width: 25px;
    height: 25px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px #EDEDED solid;
}

#main-title {
    font-size: 20px;
    margin: 6px 0px;
}

.main-products{
    display: flex;
    flex-direction: column;
    align-content: space-around;    
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.oty{
    margin-right: 15px;
}

.main-products {
    padding: 20px 5%;
}

.main-item {
    border: 1px #EDEDED solid;
    border-radius: 10px;
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
   margin-bottom: 15px;
}

.backpack{
    grid-template-areas:
    "backpack-qty backpack-title backpack-title"
    "backpack-qty backpack-info backpack-info"
    "backpack-qty backpack-price te"
    "backpack-btn backpack-btn backpack-btn";
}

#backpack-qty{
    width: 45px;
    height: 45px;
    grid-area: backpack-qty;
    padding: 10px 15px;
    border: 1px #EDEDED solid;
    margin-left: 10px;
}

#backpack-title {
    grid-area: backpack-title;
    color: rgb(56, 60, 54);
}

#backpack-info {
    grid-area: backpack-info;
    width: 90%;
    padding-right: 10px;
    margin-top: 0px;
}

#backpack-price {
    display: block;
    grid-area: backpack-price;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-top: 2px #EDEDED solid;
}

.button-item{
    color: red;
    border: 1px red solid;
    padding: 0px;
    border-radius: 5px;
    font-size: 17px;
    width: 160px;
    height: 30px;
    justify-self: center;
    align-self: center;
    background-color: white;
    margin-bottom: 15px ;
}

.backpack-btn {
    grid-area: backpack-btn;
}

.light{
    grid-template-areas:
    "light-qty light-title light-title"
    "light-qty light-info light-info"
    "light-qty light-price te"
    "light-btn light-btn light-btn";
}

#light-qty{
    width: 45px;
    height: 45px;
    grid-area: light-qty;
    padding: 10px 15px;
    border: 1px #EDEDED solid;
    margin-left: 10px;
}

#light-title {
    grid-area: light-title;
    color: rgb(56, 60, 54);
}

#light-info {
    grid-area: light-info;
    width: 90%;
    padding-right: 10px;
    margin-top: 0px;
}

#light-price {
    display: block;
    grid-area: light-price;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-top: 2px #EDEDED solid;
}

.light-btn {
    grid-area: light-btn;
}

.main-buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-btn{
    border:  1px black solid;
    padding: 0px;
    border-radius: 5px;
    font-size: 17px;
    width: 100%;
    height: 30px;
    justify-self: center;
    align-self: center;
    background-color: white;
    margin-bottom: 15px ;
}

.checkout{
    border:  1px  #3ddc91 solid;
    background-color: #3ddc91;
}


.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(19, 35, 34);
    color: white;
    margin-top: 15px;
    padding: 25px 35px;
}

.logo{
    width: 30px;
}


@media(min-width:700px){

    .main-item {
        grid-template-columns: 80px 100px 5fr;
    }
    
    .backpack{
        grid-template-areas:
        "backpack-qty backpack-title backpack-title"
        "backpack-qty backpack-info backpack-info"
        "backpack-qty backpack-price backpack-btn";
    }

    .light{
        grid-template-areas:
        "light-qty light-title light-title"
        "light-qty light-info light-info"
        "light-qty light-price light-btn";
    }

    .button-item{
        justify-self: end;
        margin-right: 25px ;
    }
    
}

@media(min-width:1000px){
    .main-buttons{
        flex-direction: row;
        justify-content: space-between;
    }

    .main-btn{
        width: 250px;
    }
}